{% extends 'tripJournal/base.html' %}

{% block content %}

<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title">On {{ trip_report.datetime_of_trip }}, I took {{ trip_report.dosage }}{{trip_report.dosage_units }} of 
            {{ trip_report.substance }}.</h5>
        <h5 class="card-subtitle">I was in {{ trip_report.location }}.</h5>
        <hr>
        <p class="card-text">{{ trip_report.description }}</p>
    </div>
</div>

<div class="action_buttons_wrapper">
    <a href="{% url 'list_trips' %}" class="btn btn-primary text-white">
        <i class="icon bi-caret-left-fill"></i> View all trips
    </a>

    <a href="{% url 'edit_trip' trip_id=trip_report.id %}" class="btn btn-secondary text-white">
        <i class="icon bi-pencil-fill"></i> Edit trip
    </a>
    
    <a href="{% url 'list_trips' %}" class="btn btn-danger text-white">
        <i class="icon bi-x-circle-fill"></i> Remove trip
    </a>
</div>
    

{% endblock content %}