:root {
  --main: rgb(56, 1, 1);
  --secondary: #2d5c2b;
  --muted: rgb(144, 144, 144);
  --accent: rgb(235, 145, 253);
  --accent-dark: rgb(170, 91, 185);
  --danger: #b11700;

}

a {
  color: var(--accent);
}

.cover-container {
  max-width: 42em;
}

/* NAV */
.nav-link {
  color: var(--muted);
  border-bottom-color: var(--accent);
  border-bottom: 0.2em solid;
}

.nav-link:focus, .nav-link:hover {
  color: var(--accent-dark);
}

.nav-link.active {
  color: var(--accent);
}

/* TRIP CARDS */
a.trip_report_clickable {
  color: inherit;
  text-decoration: inherit;
}
a.trip_report_clickable .card-footer {
    background-color: inherit;
}

a.trip_report_clickable:hover .card-footer {
  animation: rainbow-border 3s ease-in-out infinite;
}


@keyframes rainbow-border {
  0% {
     background-color: rgba(255, 255, 255, 0.25); /* Red */
  }
  0% {
    background-color: rgba(255, 0, 0, 0.25); /* Red */
  }
  16.7% {
     background-color: rgb(255, 127, 0, 0.25); /* Orange */
  }
  33.3% {
     background-color: rgb(255, 255, 0, 0.25); /* Yellow */
  }
  50% {
     background-color: rgb(0, 255, 0, 0.25); /* Green */
  }
  66.7% {
     background-color: rgb(0, 0, 255, 0.25); /* Blue */
  }
  83.3% {
     background-color: rgb(75, 0, 130, 0.25); /* Indigo */
  }
  100% {
     background-color: rgb(139, 0, 255, 0.25); /* Violet */
  }
}

/* BUTTONS */
.btn.btn-primary {
  background-color: var(--accent-dark);
  border: none;
}

.btn.btn-primary:hover {
  background-color: var(--accent);
}

.btn.btn-danger {
  background-color: var(--danger);
  border: none;
}

.btn.btn-secondary {
  background-color: var(--secondary);
  border: none;
}

div.action_buttons_wrapper {
  display: flex;
  justify-content: space-between;
}

/* ICONS */
.btn:hover i.icon {
  animation: rainbow-icon-fill 3s ease-in-out infinite;
}

@keyframes rainbow-icon-fill {
  0% {
     color: rgba(255, 255, 255, 1); /* Red */
  }
  0% {
    color: rgba(255, 0, 0, 1); /* Red */
  }
  16.7% {
     color: rgb(255, 127, 0, 1); /* Orange */
  }
  33.3% {
     color: rgb(255, 255, 0, 1); /* Yellow */
  }
  50% {
     color: rgb(0, 255, 0, 1); /* Green */
  }
  66.7% {
     color: rgb(0, 0, 255, 1); /* Blue */
  }
  83.3% {
     color: rgb(75, 0, 130, 1); /* Indigo */
  }
  100% {
     color: rgb(139, 0, 255, 1); /* Violet */
  }
}

/* FORMS */

form p{
  text-align: start;
}

.form_border {
  border: 0.5em solid var(--accent);
}